* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Source Sans 3', sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f4f4f4;
}

.header {
    background-color: #ffffff;
    background-image: linear-gradient(rgba(255, 255, 255, 0.9), rgba(255, 255, 255, 0.9));
    padding: 2rem;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000080;
    padding: 1rem;
    box-shadow: 1px 0px 5px 0px #000;
    width: 100%;
}

nav img {
    width: 75px;
}

.nav-links {
	flex: 1;
	text-align: left;
}
.nav-links ul li {
	list-style: none;
	display: inline-block;
	padding: 12px 18px;
	position: relative;

}
.nav-links ul li a {
	color: #FFFFFF;
	text-decoration: none;
	font-size: 20px;
}
.nav-links ul li::after {
	content: '';
	width: 0%;
	height: 2px;
	background: #87CEEB;
	display: block;
	margin: auto;
	transition: 0.2s;
}
.nav-links ul li:hover::after {
	width: 100%;
}

.fa-bars,
.fa-times {
    display: none;
    font-size: 1.625rem;
    cursor: pointer;
    color: #fff;
}

.text-box {
    background-color: #fafafa;
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 1px 0px 5px 0px #000;
    margin-top: 1.5rem;
}

.text-box h1,
.text-box h2,
.text-box h3 {
    margin-bottom: 1rem;
    color: #333;
}

.text-box p {
    margin-bottom: 1rem;
    line-height: 1.6;
    color: #555;
}
.text-box-pub h1{
    font-size: 20px;
    margin-left: 15px;

}
.text-box-pub h2{
    font-size: 20px;
    margin-left: 15px;

}
.text-box-pub p {
    margin: 10px 0 40px;
    font-size: 18px;
    margin-left: 15px;
    margin-right: 15px;
}
.CVT {
    background-color: #fafafa;
    border-radius: 20px;
    padding: 2rem;
    box-shadow: 1px 0px 5px 0px #000;
    margin: 2rem 0;
    margin-left: 2rem;
    margin-right: 2rem;
    text-align: center;
}

.CVT img {
    border-radius: 50%;
    width: 100px;
    margin-bottom: 1rem;
}

.CVT h1 {
    font-size: 1.75rem;
    color: #333;
}

.CVT p {
    font-size: 1.25rem;
    color: #555;
    margin-bottom: 1rem;
}

.CVT-links img {
    width: 30px;
    margin-right: 10px;
}

.Q-DFT {
    text-align: center;
}
.G2XYZ {
    text-align: center;
}
.DA {
    text-align: center;
}
.PGUI {
    text-align: center;
}

nav .fa {
    display: none;
}
.text-box-pub ol {
    list-style-type: decimal;    /* ensures numbers */
    list-style-position: inside; /* keeps numbers in margin */
    margin-left: 2rem;           /* spacing so numbers are visible */
    padding-left: 1rem;          /* extra indentation */
}

.text-box-pub li {
    margin-bottom: 1rem;         /* spacing between publications */
    line-height: 1.6;            /* better readability */
}

@media (max-width: 768px) {
    .nav-links ul {
        flex-direction: column;
        align-items: center;
    }

    .fa-bars,
    .fa-times {
        display: block;
    }

    .nav-links {
        position: absolute;
        top: 0;
        right: -200px;
        background-color: #000080;
        width: 200px;
        height: 100vh;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition: right 0.3s ease;
        opacity: 0;
    }

    .nav-links ul {
        flex-direction: column;
    }

    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 26px;
        cursor: pointer;
    }

    nav img {
        width: 60px;
    }

    .text-box,
    .CVT {
        padding: 1.5rem;
    }

    .text-box h1,
    .CVT h1 {
        font-size: 1.5rem;
    }

    .text-box p,
    .CVT p {
        font-size: 1rem;
    }
	.text-box-pub ol {
    list-style-type: decimal;    /* ensures numbers */
    list-style-position: outside; /* keeps numbers in margin */
    margin-left: 2rem;           /* spacing so numbers are visible */
    padding-left: 1rem;          /* extra indentation */
	}

	.text-box-pub li {
    margin-bottom: 1rem;         /* spacing between publications */
    line-height: 1.6;            /* better readability */
	}
}

@media (max-width: 480px) {
    .nav-links {
        right: -250px;
        width: 250px;
        opacity: 0;
    }
    nav .fa {
        display: block;
        color: #fff;
        margin: 10px;
        font-size: 26px;
        cursor: pointer;
    }

    .fa-bars {
        font-size: 1.625rem;
    }

    .text-box,
    .CVT {
        padding: 1rem;
    }

    .text-box h1,
    .CVT h1 {
        font-size: 1.25rem;
    }

    .text-box p,
    .CVT p {
        font-size: 0.875rem;
    }
	.text-box-pub ol {
    list-style-type: decimal;    /* ensures numbers */
    list-style-position: outside; /* keeps numbers in margin */
    margin-left: 2rem;           /* spacing so numbers are visible */
    padding-left: 1rem;          /* extra indentation */
	}

	.text-box-pub li {
    margin-bottom: 1rem;         /* spacing between publications */
    line-height: 1.6;            /* better readability */
	}
}


